<h2 id="title">Welcome to Ember</h2>


{{code-editor
  language="typescript"
  code="let x: string = 'foo';"
  theme="light"
}}
{{code-editor
  language="typescript"
  code="let y: number = 17;"
  theme="light"
}}
{{code-editor
  language="typescript"
  code="let z: boolean[] = [false, true];"
  theme="light"
}}
{{outlet}}